##### Data Manipulation with Pandas and NumPy

In [1]:
## Importing Pandas
import pandas as pd

In [2]:
## Reading the "data" dataset 
df=pd.read_csv('data.csv')
## fecth the first 5 rows
df.head(5)

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North