#### Pandas - Pandas Series & DataFrame

In [5]:
## Importing Pandas
import pandas as pd

In [ ]:
## Pandas Series
data=[1,2,3,4,5]
series=pd.Series(data)
print("Series \n",series)
print(type(series))

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
## Creating a Series from a dictionary
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [ ]:
## Giving our desired index/index_name to a series
data=[10,20,30, 50]
series_result = pd.Series(data, index=['math', 'science', 'english', 'econs'])
print(series_result)

'''
    There's another way to achieve just this. See Below:
'''

math       10
science    20
english    30
econs      50
dtype: int64

In [11]:
## The second method
data2=[30,26,70,78]
index=['math2', 'science2', 'english2', 'econs2']
pd.Series(data2, index=index)

math2       30
science2    26
english2    70
econs2      78
dtype: int64

In [12]:
## Dataframe
## create a Dataframe from a dictionary oof list

data={
    'Name':['Krish','John','Jack'],
    'Age':[25,30,45],
    'City':['Bangalore','New York','Florida']
}
df=pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45    Florida
<class 'pandas.core.frame.DataFrame'>