### Reading Data From Various Data Sources

In [ ]:
### Import Pandas first
import pandas as pd

In [ ]:
##Reading Data from JSON
from io import StringIO
## stringIO is string Input Output
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
df=pd.read_json(StringIO(Data))

In [4]:
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [ ]:
## converting it back to JSON
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [ ]:
## 'Orient='records'' is used to convert the data back to JSON using the exact key/value pairs, not zero indexes
df.to_json(orient='records')

In [ ]:
'''
Before we can read data from an HTML url, we need to install a few dependencies.
    1. lxml
'''

In [7]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.4.0-cp312-cp312-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.4.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 153.9 kB/s eta 0:00:22
   ----- ---------------------------------- 0.5/3.8 MB 153.9 kB/s eta 0:00:22
   ----- ---------------------------------- 0.5/3.8 MB 153.9 kB/s eta 0:00:22
   ----- ---------------------------------- 0.5/3.8 MB 153.9 kB/s eta 0:00:22
   ----- ---------------------------------- 0.5/3.8 MB 153.9 kB/s eta 0:00:22
   ----- ---------------------------------- 0.5/3.8 MB 153.9 kB/s eta 0:00:22
   ----- ---------------------------------- 0.5/3.8 MB 153.9 kB/s eta 0:00:22
   ----- ---------------------------------- 0.5/3.8 MB 153.9 kB/s eta 0:00:22
   -------- ------------------------------- 0.8/3.8 MB 153.9 kB/s eta 0:00:20
   -------- ------------------------------- 0.8/3.8 MB 153.9 kB/s eta 0:00:20
   -------- ------------------------------- 0.8/3.8 MB 153.9 kB/s eta 0:00:20
   -------- ------------------------------- 0.8/3.8 MB 153.9 kB/s eta 0:00:20
   -------- ------------------------------- 0.8/3.8 MB 153.9 kB/s eta 0:00:20
   -------- ------------------------------- 0.8/3.8 MB 153.9 kB/s eta 0:00:20
   -------- ------------------------------- 0.8/3.8 MB 153.9 kB/s eta 0:00:20
   -------- ------------------------------- 0.8/3.8 MB 153.9 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/3.8 MB 152.1 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/3.8 MB 152.1 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/3.8 MB 152.1 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/3.8 MB 152.1 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/3.8 MB 152.1 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/3.8 MB 152.1 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/3.8 MB 152.1 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 157.2 kB/s eta 0:00:16
   ------------- -------------------------- 1.3/3.8 MB 157.2 kB/s eta 0:00:16
   ------------- -------------------------- 1.3/3.8 MB 157.2 kB/s eta 0:00:16
   ------------- -------------------------- 1.3/3.8 MB 157.2 kB/s eta 0:00:16
   ------------- -------------------------- 1.3/3.8 MB 157.2 kB/s eta 0:00:16
   ------------- -------------------------- 1.3/3.8 MB 157.2 kB/s eta 0:00:16
   ---------------- ----------------------- 1.6/3.8 MB 163.8 kB/s eta 0:00:14
   ---------------- ----------------------- 1.6/3.8 MB 163.8 kB/s eta 0:00:14
   ---------------- ----------------------- 1.6/3.8 MB 163.8 kB/s eta 0:00:14
   ---------------- ----------------------- 1.6/3.8 MB 163.8 kB/s eta 0:00:14
   ---------------- ----------------------- 1.6/3.8 MB 163.8 kB/s eta 0:00:14
   ---------------- ----------------------- 1.6/3.8 MB 163.8 kB/s eta 0:00:14
   ------------------- -------------------- 1.8/3.8 MB 169.5 kB/s eta 0:00:12
   ------------------- -------------------- 1.8/3.8 MB 169.5 kB/s eta 0:00:12
   ------------------- -------------------- 1.8/3.8 MB 169.5 kB/s eta 0:00:12
   ------------------- -------------------- 1.8/3.8 MB 169.5 kB/s eta 0:00:12
   ------------------- -------------------- 1.8/3.8 MB 169.5 kB/s eta 0:00:12
   ------------------- -------------------- 1.8/3.8 MB 169.5 kB/s eta 0:00:12
   --------------------- ------------------ 2.1/3.8 MB 174.0 kB/s eta 0:00:10
   --------------------- ------------------ 2.1/3.8 MB 174.0 kB/s eta 0:00:10
   --------------------- ------------------ 2.1/3.8 MB 174.0 kB/s eta 0:00:10
   --------------------- ------------------ 2.1/3.8 MB 174.0 kB/s eta 0:00:10
   --------------------- ------------------ 2.1/3.8 MB 174.0 kB/s eta 0:00:10
   --------------------- ------------------ 2.1/3.8 MB 174.0 kB/s eta 0:00:10
   ------------------------ --------------- 2.4/3.8 MB 176.8 kB/s eta 0:00:09
   ------------------------ --------------- 2.4/3.8 MB 176.8 kB/s eta 0:00:09
   ------------------------ --------------- 2.4/3.8 MB 176.8 kB/s eta 0:00:09
   --------------------------- ------------ 2.6/3.8 MB 187.1 kB/s eta 0:00:07
   --------------------------- ------------ 2.6/3.8 MB 187.1 kB/s eta 0:00:07
   --------------------------- ------------ 2.6/3.8 MB 187.1 kB/s eta 0:00:07
   ------------------------------ --------- 2.9/3.8 MB 198.8 kB/s eta 0:00:05
   ------------------------------ --------- 2.9/3.8 MB 198.8 kB/s eta 0:00:05
   ------------------------------ --------- 2.9/3.8 MB 198.8 kB/s eta 0:00:05
   -------------------------------- ------- 3.1/3.8 MB 207.4 kB/s eta 0:00:04
   -------------------------------- ------- 3.1/3.8 MB 207.4 kB/s eta 0:00:04
   -------------------------------- ------- 3.1/3.8 MB 207.4 kB/s eta 0:00:04
   ----------------------------------- ---- 3.4/3.8 MB 219.1 kB/s eta 0:00:02
   -------------------------------------- - 3.7/3.8 MB 233.3 kB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 239.2 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.4.0

In [8]:
## Reading data from an HTML site
url="https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
df=pd.read_html(url)

In [11]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [12]:
## Reading data from an HTML site with multiple tables, then matching the url to the exact table we want
url="https://en.wikipedia.org/wiki/Mobile_country_code"
## the 'match' method is used to match the url with a column header available in the table we want
pd.read_html(url,match="Country",header=0)[0]
#'[0]' above is used to get from the headers of the table

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [14]:
## To read data from an excel workbook, we need to first install "openpyxl"
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [15]:
## Reading data from an Excel Workbook
df_excel=pd.read_excel('sample_data.xlsx')

In [16]:
df_excel

   Name  Age
0  John   32
1  Jack   23
2  Jane   25
3   Doe   34

In [17]:
### Converting excel data into  a Pickle file
df_excel.to_pickle('df_excel')

In [18]:
### Reading a pickle file
pd.read_pickle('df_excel')

   Name  Age
0  John   32
1  Jack   23
2  Jane   25
3   Doe   34